@import 'sprites.less';

.name {
    font-weight: bold;
    font-size: 18px;
    .botanical-name {
        font-style: italic;
    }
}

.size-req {
    .by {
        padding-left: 5px;
        padding-right: 5px;
    }
}
.plant-image {
    max-height: 100px;
    max-width: 100px;
}
