@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
@import 'sprites.less';

body {
    background-color: #fff;
    font-size: 16px;
}
nav {
    background-color: #3D405B;
    .brand-logo {
        padding-left: 10px;
    }
    .preloader-wrapper {
        margin-top: 14px;
        .spinner-layer {
            border-color: #81B29A;
        }
    }
    .filter {
        margin-right: 2em;
        span {
            vertical-align: middle;
        }
        i.material-icons {
            margin-left: 0;
        }
    }
    .select-dropdown {
        width: 200px !important;
    }
    #filters {
        color: #000;
        .favorite-icon {
            font-size: 18px;
        }
    }
    .filter-btn {
        background-color: #E07A5F;
        span {
            color: #fff;
        }
    }
    .nav-wrapper {
        i.checkbox-icon, i.favorite-icon {
            display: inline-block;
            height: 32px;
            line-height: 32px;
        }
    }
    .filter-checkbox, .checkbox-icon, .filter-name {
        line-height: 32px;
        height: 32px;
    }
    .filter-checkbox {
        margin-bottom: 10px;
        [type="checkbox"]+label:before {
            margin-top: 8px;
        }
        [type="checkbox"]+label {
            padding-left: 30px;
        }
        .checkbox-text {
            margin-top: -24px;
            margin-left: 5px;
            display: inline-block;
        }
    }
}

.plant-item {
    .plant-carousel {
        padding-left: 0;
        padding-right: 0;
    }
    .photos-col, .info-col {
        padding: 0;
    }
    .slick-slider {
        margin-bottom: 0;
    }
    .plant-slide {
        background-color: #81B29A;
        &.no-photo {
            background-color: #fff;
        }
        text-align: center;
        overflow: hidden;
    }
    .card-content {
        background-color: #F4F1DE;
    }
    .no-photo {
        color: #fff;
        .plant-slide {
            position: relative;
            height: 260px;
            width: 100%;
            background-color: #fff;
        }
        .plant-img {
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0.7;
        }
        .overlay {
            z-index: 100;
            position: absolute;
            left: 50%;
            &.text {
                font-size: 1.5em;
                top: 120px;
            }
            &.credit {
                top: 262px;
            }
            .abs-center, .photo-credit {
                position: relative;
                left: -50%;
            }
        }
    }
    .plant-slider {
        .slick-prev {
            left: 10px;
        }
        .slick-next {
            right: 10px;
        }
        .slick-prev:before, .slick-next:before {
            color: #3D405B;
        }
        .slick-dots {
            bottom: 0;
            margin-bottom: 20px;
            li button:before {
                color: #F3D895;
                opacity: 0.8;
            }
            li.slick-active button:before {
                color: #E07A5F;
                opacity: 1;
                font-weight: bold;
            }
            li button:before {
                font-size: 11px;
            }
        }
    }
    .plant-img {
        height: 768px;
        @media (min-width: 768px) {
            height: 480px;
        }
        display: block;
        margin-left: auto;
        margin-right: auto
    }
    .photo-credit {
        margin-left: 5px;
        color: #fff;
        margin-top: -20px;
        font-weight: normal;
        font-size: 0.8em;
        .by {
            background-color: rgba(0, 0, 0, 0.3);;
            padding: 3px;
        }
        a {
            color: #fff;
            text-decoration:  underline;
        }
    }
    .info {
        .name {
            font-weight: bold;
            .botanical-name {
                font-style: italic;
                font-size: 1.5em;
            }
            .common-name {
                margin-top: 5px;
                font-size: 1.2em;
            }
        }
        .requirements {
            padding-top: 5px;
            padding-bottom: 5px;
            .sun-col {
                padding-left: 0;
            }
        }
        .details {
        }
        .plant-type {
            display: inline;
            list-style: none;
            padding: 0;
            li {
                display: inline;
                &:after {
                    content: ", ";
                }
                &:last-child:after {
                    content: "";
                }
            }
        }
        .plant-group {
            display: inline-block;
            margin-left: 1em;
        }
        .size-range {
            margin-top: 5px;
            .by {
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    }
    .more-info {
        .more {
            font-weight: bold;
        }
        .more-list {
            .icon {
                padding-left: 0;
            }
            .source {
                padding-left: 0px;
                margin-right: 10px;
                display: inline-block;
                width: 16px;
                font-size: 0;
                margin-top: 7px;
                background-size: 16px 16px;
                background-repeat: none;
            }
            #missouriBotanicalLinks {
                content: url(http://www.missouribotanicalgarden.org/favicon.ico);
            }
            #sanMarcosLinks {
                content: url(http://www.smgrowers.com/favicon.ico);
            }
            ul {
                padding-left: 0px;
                margin-top: 5px;
                margin-bottom: 0px;
                display: inline-block;
            }
            li {
                display: inline;
                &:after {
                    content: ", ";
                }
                &:last-child:after {
                    content: "";
                }
            }
        }
    }
}

.icon-filter {
    width: 30px;
    height: 30px;
    background: url(/img/filter-outline.png) no-repeat;
    margin-top: 50%;
}

.favorite-icon {
    color: #E07A5F;
    cursor: pointer;
}
