.water, .size, .sun {
    /*background: url(https://s3-us-west-1.amazonaws.com/toyon/sprites.png) no-repeat;*/
    display: inline-block;
    margin-right: 5px;
}

.water {
    width: 24px;
    height: 32px;
    &.N {
        background: url(/img/water-N.png) no-repeat;
    }
    &.L {
        background: url(/img/water-L.png) no-repeat;
    }
    &.M {
        background: url(/img/water-M.png) no-repeat;
    }
}

.sun {
    width: 32px;
    height: 32px;

    &.sun {
        background: url(/img/sun-sun.png) no-repeat;
    }
    &.part {
        background: url(/img/sun-part.png) no-repeat;
    }
    &.shade {
        background: url(/img/sun-shade.png) no-repeat;
    }
}

.size {
    width: 32px;
    height: 32px;

    &.low {
        background: url(/img/size-low.png) no-repeat;
    }
    &.small {
        background: url(/img/size-small.png) no-repeat;
    }
    &.medium {
        background: url(/img/size-medium.png) no-repeat;
    }
    &.large {
        background: url(/img/size-large.png) no-repeat;
    }
}
